@import "tailwindcss";


@theme {
  --color-primary: #EC4899;
  --color-secondary: #22D3EE;
  --color-dark-bg: #1F2937;

  --font-sans: "Inter", sans-serif;

  @keyframes pulse {
    0%, 100% {
      transform: scale(1);
      opacity: 0.8;
    }
    50% {
      transform: scale(1.1);
      opacity: 0.5;
    }
  }
}
